.username {
    font-weight: 600;
    color: #00D1B2;
}

.success-holder {
    background: rgb(0, 209, 178, 0.1);
    border-radius: 3%;
    margin-bottom: 5px; 
}

.error-holder {
    margin-bottom: 5px;
}

.invoice-list {
    padding: 0.8em;
}

.table {
    margin-top: 2em;
}

.app-title {
    background-color: #00D1B2;
    color: white;
    text-decoration: none;
    
}

.app-title:hover {
    background-color: #00D1B2 !important;
    color: white !important;
    text-decoration: none !important;
}

.page-title {
    margin-top: 1em;
    color: #00D1B2;
    font-weight: 700;
    font-size: 1.5em;
}

.input-date {
    width: auto;
}

@media print {
    #Header, #Footer, .print-window { 
        display: none !important;
        width: 100%;
     }
     @page {size: A4 landscape; }
 }

 .trash {
     color: red;
     padding: 0 0 0 2px;
 }

 .edit-ico {
    color: #00D1B2;
    padding: 0 2px 0 0;
 }

 .no-data {
    color: #00D1B2;
    font-weight: 500;
    font-size: 20px;
 }

 .eye-icon {
    color: #00D1B2 !important;
    text-decoration: none !important;
    font-size: 32px !important;
 }

.table-div {
    margin-top: 10px;
}

.fa-eye {
    font-size: 24px;
}

.toast {
    opacity: 1 !important;
}

#toast-container>.toast-success {
    background-color: #00D1B2 !important;
}

li.page-item.active {
    background: #00D1B2;
    color: white;
    padding: 3px 5px;
    border-radius: 15%;
}

span .page-link {
    font-size: 2em;
}

.search-box {
    margin: auto;
}

.fa-trash-alt {
    padding: 0;
}

.podbroj {
    justify-content: space-between !important;
}

.workbook-show {
    border-top: 3px solid #00D1B2; 
}

/* .table-client {
    width: 30%;
}

.table-number {
    width: 10%;
}

.table-text {
    width: 60%;
} */